In [44]:
import pandas as pd
from sqlalchemy import create_engine
df = pd.read_csv('/Users/richardknoche/Desktop/Order Items.csv',encoding='latin-1')

/Users/richardknoche/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (9,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [45]:
df.head()

,id,order_id,product_id,options,is_delivered,is_received,is_available,status,qty,product_title,...,driver_id,truck_id,state_slug,previous_state_slug,pickup_date_time_id,delivery_date_time_id,is_independent,payment_status,product_snapshot_id,pickup_address_snapshot_id
0,1,57,1044.0,"a:2:{s:11:""buyer_dates"";a:3:{i:0;s:21:""2013-04...",1,1,0.0,complete,1,NaN,...,NaN,NaN,completed,NaN,2192.0,NaN,NaN,NaN,NaN,NaN
1,2,58,NaN,"a:1:{s:11:""buyer_dates"";a:1:{i:0;s:21:""2013-04...",1,1,0.0,complete,1,NaN,...,NaN,NaN,completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,59,NaN,"a:2:{s:11:""buyer_dates"";a:3:{i:0;s:21:""2013-04...",1,1,0.0,complete,1,NaN,...,NaN,NaN,completed,NaN,2190.0,NaN,NaN,NaN,NaN,NaN
3,4,60,1263.0,NaN,1,1,0.0,complete,1,NaN,...,NaN,NaN,completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,62,1064.0,NaN,1,1,0.0,complete,1,NaN,...,NaN,NaN,completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
engine = create_engine("mysql+pymysql://raknoche:localpswd@localhost/AptDeco")
df.to_sql('OrderItems', engine, if_exists='replace', index=False)